<script id="hidden-tag-template" type="text/x-custom-template">
  <div class="btn btn-success" id="js-tag-btn-new">
    <span class="js-tag-name-content"></span>
    <span>&nbsp;</span>

    <button type="button" class="close" aria-label="Delete tag">
      <a data-confirm="Are you sure?" 
          data-remote="true" 
          rel="nofollow" 
          data-method="delete" 
          href="" 
          class="js-tag-name-x">
          <span aria-hidden="true">×</span>
      </a>    
    </button>
  </div>
</script>