<div>
<span>
  <%= tag.name %>
</span>
<span>
  <%= link_to 'Destroy Tag', item_tag_path(@item.id, tag.id),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</span>